*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.board-container {
  height: 80vh;
  width: 70vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.game-cell {
  border: 1px solid black;
  width: 100%;
  height: 100%;
}

.player-info-container {
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.turn-green {
  color: green;
}

.turn-black {
  color: black;
}

.game-cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-cell h1 {
  font-size: 100px;
}